absl-py==0.7.1
astor==0.7.1
astroid==2.2.5
certifi==2019.3.9
chardet==3.0.4
contextlib2==0.5.5
dm-sonnet==1.29
future==0.17.1
gast==0.2.2
googleapis-common-protos==1.5.9
grpcio==1.19.0
h5py==2.9.0
idna==2.8
isort==4.3.16
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lazy-object-proxy==1.3.1
Markdown==3.1
mccabe==0.6.1
mock==2.0.0
networkx==1.8.1
numpy==1.16.2
pbr==5.1.3
promise==2.2.1
protobuf==3.7.1
pylint==2.3.1
-e git+https://github.com/DrKwint/pyromania.git@e2a1b890ef5e4e4daa74a5e5616afcf8f8c98907#egg=pyroclast
requests==2.21.0
semantic-version==2.6.0
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-datasets==1.0.1
tensorflow-estimator==1.13.0
tensorflow-metadata==0.13.0
tensorflow-probability==0.6.0
termcolor==1.1.0
tqdm==4.31.1
typed-ast==1.3.1
urllib3==1.24.1
Werkzeug==0.15.1
wrapt==1.11.1
yapf==0.26.0
